<html>

<head>
    <title>404 - Menhera Chan</title>
    <link rel="icon" href="img/bot-avatar.png" type="image/icon type">
    <meta name="clckd" content="dc615b06ef8268203357fc6ec21ef490" />
    <meta name="description"
        content="Couldn't find the desired page">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/commands.css">
</head>

<body>
    <nav id="mainNavbar" class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#"> <img src="img/bot-avatar.png"> </a>
            <a role="button" id="burger" class="navbar-burger" aria-label="menu" aria-expanded="false"> <span
                    aria-hidden="true"></span> <span aria-hidden="true"></span> <span aria-hidden="true"></span> </a>
        </div>
        <div id="navbar" class="navbar-menu">
            <div class="navbar-item link"> <a href='/'>Home</a> </div>
            <div class="navbar-item link"> <a href='/commands'>Command</a> </div>
            <div class="navbar-item link"> <a href='https://dashboard.menhera-chan.in/'>Dashboard</a> </div>
            <div class="navbar-item link"> <a href='/support'>Support</a> </div>
            <div class="navbar-item link"> <a href='/invite'>Invite</a> </div>
        </div>
    </nav>
    <h1 style="text-align: center; font-weight: bold;">Page Not Found</h1>
</body>

</html>