
.navbar{
    background-color: rgba(255,255,255,0.8);
    transition: all 0.3s;
}

.scrolled-nav{
    background-color:white;
}
.navbar-menu{
    display: flex;
    justify-content: space-evenly;

}
.link{
    color: #4e5d94;
    font-weight: 800;
    
    position: relative;
	 text-decoration: none;
	 
	 text-transform: uppercase;
	 transition: all 0.35s ease;
}
.link a{
    font-weight: 700;
}
.link::before{
    content: "";
	 position: absolute;
	 width: 100%;
	 height: 2px;
	 bottom: 0;
	 left: 0;
	 background-color: #7289da;
	 visibility: hidden;
	 -webkit-transform: scaleX(0);
	 transform: scaleX(0);
	 -webkit-transition: all 0.3s ease-in-out 0s;
	 transition: all 0.3s ease-in-out 0s;
}
.link:hover{
    color: black;
}
.link:hover::before{
    visibility: visible;
	 -webkit-transform: scaleX(1);
	 transform: scaleX(1);
}
@media only screen and (max-width: 1024px){
    .navbar-menu{display: none;}
}


.banner{
    background-image: url('https://wallpapercave.com/wp/wp4608562.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.title{
    background-color: black;
    color: #4e5d94;
    opacity: 0.8;
    text-align: center;
    font-size: 5vw;
    font-weight: 900;
    margin-top: 30vw;
    
}

.column {
	
	position: relative;
	float: left;
	width: 25%;
	padding: 10px;
	
  }
  .columns:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
   @media screen and (min-width: 600px) and (max-width: 1300px) {
	.column  {
	  width: 50%;
	  
	}
	
  } 
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
   @media screen and (max-width: 600px) {
	.column  {
	  width: 100%;
	}
  }  

.grid {
	position: relative;
	margin: auto auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
    text-align: center;
	
	align-content: center;
	float: right;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: white;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 1;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
    color: #7289da;
    font-weight: 800;
	word-spacing: -0.15em;
	font-weight: 800;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Lily *****/
/*---------------*/

figure.feature img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.feature figcaption {
	text-align: left;
}

figure.feature figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

figure.feature h2,
figure.feature p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.feature h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.feature p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.feature:hover img,
figure.feature:hover p {
	opacity: 1;
}

figure.feature:hover img,
figure.feature:hover h2,
figure.feature:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.feature:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}
figure.feature:hover div{
    background-color: black;
    opacity: 0.7;
}
.feature-title{
	font-size: x-large;
	font-weight: 800;
	color: #7289da;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 3px solid #7289da;
}
.feature-image{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    float: center;
    box-shadow: 4px  4px 4px #696969;
}
.order-2 {
    order: 2;
}
    
.order1 {
    order: 1;
}
.feature-text {
    -webkit-box-flex: 1;
    flex: 1;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
    padding-inline-end: 100px;
    float: center;
    text-align: justify;
    
}
.feature-text h1{
    font-size: 26px;
    text-transform: none;
    font-weight: 800;
    line-height: 1.5em;
    margin-top: 0;
    padding-top: 0;
    font-family: 'Poppins', Helvetica, arial, sans-serif;
    padding: 20px 0 10px 0;
    color: #7289da;
    text-transform: uppercase;
}
.feature-text p{
    font-size: 19px;
    color: #969899;
    line-height: 1.8em;
    margin-top: 5px;
}
.site-footer
{  
  background-color:#26272b;
  /* padding:45px 0 20px; */
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.button{
    color: white;
    background-color: #7289da;
    font-weight: 700;
}




