.pagination {
  display: inline-flex;
}

.pagination a {
  color: rgb(52,58,64);
  float: left;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid rgba(52,58,64,0.48);
}

.pagination li.active {
  background-color: #ff0000;
  color: rgb(255,255,255);
  border: 1px solid #000000;
}

.pagination a.active {
  background-color: #ff0000;
  color: rgb(255,255,255);
  border: 1px solid #000000;
}

.pagination a:hover:not(.active) {
  background-color: #343a40;
  color: rgb(255,255,255);
  border: 1px solid rgba(13,13,13,0.52);
}

img {
  width: 150px;
  height: auto;
}

code {
  display: inline-flex;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: #343a40;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(199, 199, 199, 0.673);
}